.number-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .number-box {
    border: 1px solid purple;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    
    background: #775714;
    text-align: center;
    margin: 5px; /* Adjust the margin as needed */
    cursor: pointer;
    width: 50px;
    
    
  }
  
  .number-box.clicked {
    
    background: linear-gradient(180deg, #e6c24d, #775714) ;
  }
  