.layout,
.mainBody {
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    background: linear-gradient(180deg, #e6c24d, #775714) ;
    border-right: 1px solid #e6c24d;
    border-left: 1px solid #e6c24d;
    border-bottom: 1px solid #e6c24d;
    box-shadow: 1px 2px 3px #775714;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
}

.lottoFooter {
    background: linear-gradient(180deg, #e6c24d, #775714);
    border-top: 3px solid #ccbf80;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: max-content;
    margin: auto;
}

.lottoFooter img {
    width: 30px;
    height: 30px;
}

.lottoFooter .middleIcon img {
    width: 50px;
    height: 50px;
}

@media screen and (min-width:765px) {

    .layout,
    .mainBody {
        width: 375px;
        margin: auto;
    }

    .lottoFooter {
        width: 375px;
    }
}

@media screen and (max-width:350px) {
    .lottoFooter small {
        font-size: 12px;
    }
}