

.servicePhoneTitle{
border: 5px dashed #775714;
}
.serviceCard{
    border: 1px solid #775714;
    border-radius: 15px;
    background: #775714;
}
.serviceJoinBtn{
    background: #775714;
    border-radius: 15px;
    border: 1px solid #775714;
}